body {background-color:skyblue;}
h1 {color: red; text-align: center; font-family: sans-serif}
p {padding: 20px; color: green; border: 1px solid red}
#diff-para {color: darkorange; margin-left: 50px; font-family: fantasy; font-style: strong; border: 0px;}
ul {border: 5px double black; color: purple; padding-top: 20px;}
#diff-item {color: red; font-style: italic; margin-left: 20px;} 