#title {background-color: blue; width: 80%;  margin: auto; text-align: center; padding: 2%;}

#container1 {background-color: red; width: 80%; height: 400px; margin: auto; text-align: center; margin-top: 10px;}

#container2 {background-color: royalblue; width: 80%; height: 350px; margin: auto; text-align: center;}