body {
    background-image: url(TheBack.jpg);
    background-repeat: repeat;
}

#container {background-color: lightsteelblue; padding: 1%; margin: auto; width: 80%; height: 650px; align-content: center;}

#header {background-color: rgb(255, 255, 255); padding: 2%; text-align: center;}

#center {background-color: rgb(106, 166, 226); padding: 1%; height: 500px}

#footer {background-color: rgb(106, 166, 226); padding: 2%; text-align: center; height: 50px}

#sidebar {background-color: lightgray; width: 28%; padding: 1%; height: 450px; float: left; text-align: center; object-position: center;}

#article {background-color:lightslategray; width: 68%; height: 450px; padding: 1%; float: right; text-align: center; object-position: center;}
    
#pastacontainer {background-color: lightsteelblue; padding: 1%; margin: auto; width: 80%; height: 450px; align-content: center;}

@media only screen and (max-width: 575px) {
    #container {
        width:90%;
        float:none;
        margin: auto;
        height:100%;
        }
    #sidebar {
        width:90%;
        float:none;
        margin: auto;
        height:30%;
        font-size: x-small;
        }
    #article {
        width:90%;
        float:none;
        margin: auto;
        height:55%;
        font-size: x-small;
    }
    #footer {
        width:98%;
        padding: 1%;
        float:none;
        margin: auto;
        height:10%;
        font-size: x-small;
    }
}