body {background-color: lightgrey; font-family: 'Trebuchet MS'; text-align: center;}
            
#border {background-color: whitesmoke; font-family: 'Lucida Sans Unicode'; text-align: center; width: 80%; height: 500px; margin: auto; padding: 3%;}
            
#links {background-color: gray; font-family: 'Trebuchet MS'; text-align: center; width: 20%; height: 300px; float: left;}

#center {background-color: lightskyblue; font-family: 'Trebuchet MS'; text-align: center; width: 40%; height: 300px; float: left;}

#right {background-color: lightskyblue; font-family: 'Trebuchet MS'; text-align: center; width: 40%; height: 300px; float: right;}

#footer {background-color: lightgray; padding: 3%;}