#title {background-color: lightgrey; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';}
            
#border_container {background-color: whitesmoke; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';}
            
#left_navigation_cell {background-color: lightslategray; font-family: Helvetica;}