#title {background-color: lightgrey; font-family: 'Trebuchet MS'; text-align: center; width: 80%; margin: auto; padding: 3%;}
            
#border_container {background-color: whitesmoke; font-family: 'Lucida Sans Unicode'; text-align: center; width: 80%; height: 500px; margin: auto;}
            
#left_navigation_cell {background-color: gray; font-family: 'Trebuchet MS'; text-align: center; width: 15%; height: 300px; float: left;}

#center_data_cell {background-color: lightskyblue; font-family: 'Trebuchet MS'; text-align: center; width: 40%; height: 300px; margin: auto;}

#right_data_cell {background-color: lightskyblue; font-family: 'Trebuchet MS'; text-align: center; width: 40%; height: 300px; margin: auto;}