body {
    background-image: url(Background.jpg);
    background-repeat: repeat;
}

#container {background-color: lightsteelblue; padding: 1%; margin: auto; width: 80%; height: 750px; align-content: center;}

#header {background-color: rgb(255, 255, 255); padding: 2%; text-align: center;}

#center {background-color: rgb(106, 166, 226); height: 400px;}

#footer {background-color: rgb(106, 166, 226); padding: 2%; text-align: center;}

#sidebar {background-color: lightgray; width: 28%; padding: 1%; height: 450px; float: left; text-align: center; object-position: center;}

#article {background-color:lightslategray; width: 68%; height: 450px; padding: 1%; float: right; text-align: center; object-position: center;}

#pastacontainer {background-color: lightsteelblue; padding: 1%; margin: auto; width: 80%; height: 700px; align-content: center;}